*{
    margin: 0%;
    padding: 0%;
}


.scroolTop{
    position: fixed;
    bottom: 40px;
    right: -10px;
    z-index: 100;
    display: none;
    transition: 0.8s linear;
    cursor: pointer;

    &:hover .lightTop{
        opacity: 1;
    }

    .lightTop{
        position: relative;
        right: 78px;
        opacity: 0;
        transition: 0.8s ease;
    }
}
header{
    
    .content-product{
        color: white;
        font-weight: 700;
        position: relative;

    }
#carstart{
    border-bottom: 2px solid rgba(110, 110, 110, 0.568);
    position: relative;
    background: #323232;
    left: 0%;
    padding: 10px;
    span{
        line-height: 20px;
        font-size: 17px;
        color: rgb(218, 218, 218);
        font-weight: 200;
        margin-left: 3px;
        transition: all 0.8s ease;
        cursor: pointer;
        &:hover{
            color: red;
        }
        i{
            font-size: 17px;
        }
    }
}
    background: white;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    height: 135px;
    background-repeat: no-repeat;
    .car-nav{
        display: flex;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 15px;
        z-index: 1000;
        .sub-menu i{
            position: relative;
            top: -10px;
            right: -7px;
        }
    }
    .menu i{
        position: relative;
        top: 50%;
        transform: translate(-50%,75%);
       
    }
    button{
        position: relative;
        transform: translateY(39%);
        padding: 5px 10px;
        background-color: #DB2D2E;
        font-size: 10px;
        font-weight: 700;
        border: none;
        color: white;
    }

    li{
        margin-left: 15px;
        position: relative;
        a{
            font-size: 19px;
        }
    }
img{
    width: 160px;
    height: 28px;
    object-fit: cover;
    margin-top: 10px;
    
}
}
    
ul.menu{
    background:transparent;
    height: 50px;
    position: relative;
    margin-bottom: 100px;    
    
}

 ul.menu >li{
    float: left;
    list-style: none;
    position: relative;
    

}

ul.menu >li > a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 0 15px;
    line-height: 50px;
    

}

ul.menu ul{
    background: whitesmoke;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    transition: 750ms all ;

    border-top: 3px solid red;

}

ul.menu ul li a{
    display: block;
    padding: 8px 12px;
    color: rgb(24, 12, 12);
    text-align: left;
    font-size: 14px;
}

ul.menu >li:hover >ul{
    visibility: visible;
    opacity: 1;
    top: 50px;

}

ul.menu >li ul ul{
    top: 0px;
    left: 180px;
    transition: 750ms all;

}

ul.menu ul li:hover >ul{
    opacity: 1;
    visibility: visible;
    left: 185px;
}



.first{
    cursor: pointer;
    overflow: hidden;
    .bg-red{
        background: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/revslider/slider5/86138-bg.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
        padding: 170px 0;
        z-index: 1;

        h1{
            font-weight: 800;
            color: white;
            font-size: 50px;
            letter-spacing: 1px;
            line-height: 2em;

        }
        h4{
            font-weight: 600;
            color:White;
            font-size: 35px;
            letter-spacing: 0.5px;
            line-height: 1.4em;
        }
        p{
            font-size: 17px;
            color:White;
            letter-spacing: 1px;
            line-height: 1.6em;
        }

        button{
            padding: 10px 20px;
            border-radius: 2px;
            color: white;
            background:rgb(80, 80, 80);
            font-weight: 600;
            border:none;
            transition: all 0.8s;

            &:hover{
                color: rgb(240, 64, 64);
                background:white;
            }
            
        }
        
        

        .dinamik-background{
            background-size: calc(100% + 150px);
            width: 1000px;
            height: 419px;
            background: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/revslider/slider5/a25a3-car-logo.png) -25px -50px;
          
            .mcar{
                position: absolute;
                top: 50%;
                transform: translateY(-30%);
                right: -45%;
                transition:all .1s ;
               
                

            }
            .mlight{
                position: absolute;
                top: 50%;
                transform: translate(-45%,-10%);

                opacity: 0;
                transition: all 0.8s;

               
                
                
            }
            
        }
       
 
    }

    .bg-black{
        background-image: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/revslider/slider5/ec93e-bg2.jpg);
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        padding: 170px 0;
        background-position: center center;

        .dinamik-background{
            background-size: calc(100% + 350px);
            width: 1000px;
            height: 419px;
            background: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/revslider/slider5/a8766-car-img4.png) -25px -50px;

        }

        .benz-car{
            position: relative;

            
            .benz-mercedes{
                
                opacity: 1;
                position: absolute;
                top: 0%;
                left: 0%;

                img{
                    width: 250px;
                    height: 250px;
                }
            }

            .benz-light{
                position: absolute;
                transform: translate(-10%,85%);

                img{
                    display: none;
                }
            }
     
        }
        .benz-content{
            h1{
                font-size: 50px;
                font-weight: 700;
                color: white;
                margin-left: 35px;
                letter-spacing: 1.5px;
            }

            h3{
                font-size: 35px;
                font-weight: 500;
                color: white;
                margin-left: 35px;
                letter-spacing: 1px;

            }
            p{
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 1.4em;
                margin-left: 35px;
                color:White;

            }
            button{
                padding: 10px 20px;
                background: rgb(214, 20, 20);
                color: white;
                border: none;
                border-radius: 2px;
                margin-left: 35px;
                
            }
        }

    }
}

#inventory{
    button{
        padding: 10px 30px;
        border: none;
        background: rgb(230, 58, 46);
        color: white;
        transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover{
            background: rgb(59, 59, 59);
        }
    }
    .brends{
        background-image: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/2013/06/15.jpg?id=133);
        background-position: center center;
        object-fit: cover;
        background-size: cover;
        height: 250px;
        padding: 30px;
        color: white;
    }
    .dealership{
        background-image: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/2013/06/17.jpg?id=135);
        background-position: center center;
        object-fit: cover;
        background-size: cover;
        padding: 30px;
        color: white;

    }
    .affordable{
        background-image: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/2013/06/16.jpg?id=134);
        background-position: center center;
        object-fit: cover;
        background-size: cover;
        padding: 30px;
        color: white;

    }

}

#ferrari{
    .text-ferrari{
        position: relative;
        top: 50px;
        i{
            font-size: 25px;
            color: rgb(240, 64, 64);
        }
        p{
            color: gray;
            letter-spacing: 1px;
            line-height: 1.6em  ;
        }
    }

    .ferrari-img{
            overflow: hidden;
        img{
            position: relative;
            bottom: -90px;
            transition: all .3s;

            &:hover{
                bottom:-30px !important;
                
            }

        }
    }
}

#sell{
        
    .girl{
        object-fit: cover;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        padding: 50px;
        text-align: right;
        color: white;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.5)0%, rgba(0,0,0,0.5) 100%) ,url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/2017/01/01-7.jpg?id=1896)  ;
        button{
            padding: 10px 25px;
            border: none;
            background: rgb(240, 61, 61);
            color: white;
            font-weight: 700;
            border-radius: 2px;
            transition: all .3s linear;
            &:hover{
                background: rgb(59, 59, 59);
                color: white;
            }
        }
        .text{
         margin-left: 300px;
        }
        .img{
            position: absolute;
            bottom: 2px;
           
        }
    }


    .boy{
        object-fit: cover;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        padding: 50px;
        text-align: left;
        background:rgb(243, 53, 53);
        color: white;

        button{
            padding: 10px 25px;
            border: none;
            background: white;
            color: red;
            font-weight: 700;
            border-radius: 2px;
            transition: all .3s linear;
            &:hover{
                background: rgb(59, 59, 59);
                color: white;
            }
        }

 
        
        

        img{
            position: absolute;
            bottom:2px;
        }
    }
}


#services{
    padding: 70px 0;
    
    i{
        font-size: 30px;
        color: rgb(243, 77, 77);
    }
    p{
        color: gray;
        
        }
    &:hover .text .hr1{
        
            width: 200px;
            margin: 0 auto;
            background: rgb(247, 32, 32);
            transition: 1s linear;
        }
    
    .text{
        .hr1{
            width: 50px;
            margin: 0 auto;
            background: rgb(247, 32, 32);
            transition: 1s linear;
        }
        .hr2{
            position: relative;
            width: 100px;
            top: 10px;
            margin: 0 auto;
            background: rgb(247, 32, 32);
            transition: 1s linear;

        }
    }
}

#redcar{
    overflow: hidden;
    padding: 40px 0;
    position: relative;

    .car-first{
        position: relative;
        img{
            position: absolute;
            left: -25%;
            top: 20%;
            text-align: left;
        }
    }
    .car-second{
        
        position: relative;
        img{
            position: absolute;
            text-align: center;
            
        }
    }
    .car-third{
        position: relative;
        img{
            // position: absolute;
            position: relative;
            right: -25%;
            top: 20%;
            text-align: right;
        }
    }   
}

#vehicle{
     overflow: hidden;
     .text{
         margin-bottom: 30px;
         margin-top: 35px;
     }
     p{
         color: grey;
         letter-spacing: 1px;
     }
     h2{
         font-weight: 700;
         color: rgb(41, 41, 41);
     }
     .hr1{
        width: 50px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;
    }
    .hr2{
        position: relative;
        width: 100px;
        top: 10px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;

    }
    .box{
        width: 20%;
        height: 250px;
        position: relative;
        overflow: hidden;
        transition: all .3s ease-in;
       


        img{
            transition: all .3s ease-in;
            overflow: hidden;
        }     


        .overlay{
            position: absolute;

            height: 35px;
            width: 100%;
            left: 0%;
            top: -15%;
            background:rgb(243, 53, 53);
            color: white;
            transition: all .3s ease-in;
            font-size: 16px;
            font-weight: 600;
            text-align: center;

            p{
                transition: all .3s ease-in;
                color: #fff;
                cursor: pointer;
            }
            p:hover{
                color:#000;
            }

            .overlay-icon{
                position: absolute;
                margin-top: 300px;
                font-size: 25px; 
                font-weight: 700;
                color: white;
                left: 43%;
                text-align: center;
                transition: all .3s ease-in;
                
                
                
            }
        }
        &:hover{
            img{transform: scale(1.025);}
            .overlay{top: 0%;}
            .overlay-icon{margin-top: 50px;}


        }


    }

    
}

#count{
    padding: 100px 0;
    background-image: url(https://cardealer.potenzaglobalsolutions.com/wp-content/uploads/revslider/slider5/86138-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    
    .cont{
        position: relative;
        .icon{
            position: relative;
            left:20%;
            font-size: 30px;
            color: white;
        }
        .hr1{
            position: absolute;
            width: 70px;
            height: 1px;
            background: white;
            transform: rotate(90deg);
            left: 0%;
            top: 20%;
        }
        .hr2{
            position: absolute;
            width: 35px;
            height: 1px;
            background: white;
            transform: rotate(90deg);
            left: 0%;
            top: 57%;
            
        }
        .counter{
            position: absolute;
            left: 24%;
            font-size: 25px;
            color: white;
            font-weight: b;
        }
    }
}

#news{
    background: whitesmoke;
    padding: 100px 0;
    .blog{
        position: relative;

        .date-box{
            position: absolute;
            left: 20px;
            top: 20px;
            padding: 6px 16px;
            border-radius: 2px;
            background: rgb(230, 58, 46);
            color: white;
            font-weight: 700;
        }
        .blog-content{
            position: relative;
            left: -1%;
            margin: -20px 10px 0;
            box-shadow: 0px 3px 0px 1px rgba(0, 0, 0, 0.1);  
            background: white;

            
            .blog-admin-main{
                position: relative;
                text-align: center;
                padding-left: 20px;
                border-bottom: 1px solid #e3e3e3;
                background: white;
                
                
                

                .blog-admin{
                    clear: both;
                    display: inline-block;
                    padding: 10px 0 4px;
                    background: white;
                    position: relative;

                    img{
                        width: 50px;
                        height: 50px;
                        display: table-cell;
                        float: left;
                        border-radius: 50%;
                        margin-bottom: 0;
                    }
                    span{
                        float: left;
                        vertical-align: middle;
                        font-size: 14px;
                        padding-top: 13px;
                        margin-left: 15px;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
                .blog-right{
                    float: right!important;
                    
                    ul{
                        padding: 0 0 0 15px;
                        margin: 0px;
                        list-style-type: disc;
                        li{
                                display: inline-block;
                                position: relative;
                                margin-top: 20px;
                        }
                        .meta{
                            display: inline-block;
                            text-align: center;
                            border-left: 1px solid #e3e3e3;
                            padding: 11px 20px;
                            position: relative;
                            right: 0%;
                            transition: 0.8s;


                            &:hover{
                                color: rgb(233, 52, 52);
                            }
                        }
                        .shr{
                            display: inline-block;
                            text-align: center;
                            border-left: 1px solid #e3e3e3;
                            padding: 11px 20px;  
                            transition: 0.8s;
                            &:hover{
                                color: rgb(233, 52, 52);
                            }
                        }
                    }
                    .share{position: relative;
                        .blog-social{
                            display: none;
                            float: left;
                        }
                    }
                }
            }
        }
        .blog-text{
            background:white;
            border-bottom: 2px solid #e3e3e3;
            padding: 20px;
            .hr1{
                width: 50px;
                margin: 0 auto;
                background: rgb(247, 32, 32);
                transition: 1s linear;
            }
            .hr2{
                position: relative;
                width: 100px;
                top: 10px;
                margin: 0 auto;
                background: rgb(247, 32, 32);
                transition: 1s linear;
    
            }
            h4{
                transition: 0.8s;
            }
            h4:hover{
                color: rgb(233, 52, 52);
            }
    
    
        }

        &:hover{
            .hr1{
                width: 100px;
            }
            .hr2{
                width: 150px;
            }
        }
    }
    .hr1{
        width: 50px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;
    }
    .hr2{
        position: relative;
        width: 100px;
        top: 10px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;

    }
}
    

#company{
    padding:75px 0;
    .hr1{
        width: 50px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;
    }
    .hr2{
        position: relative;
        width: 100px;
        top: 10px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;

    }

    .box{
        width: 20%;
    }
}

#arrival{
    padding: 80px 0;
    background: whitesmoke;
    &:hover{
        .slick-prev{
            margin-left: 0;
            opacity: 1;
            background: white;

        }
        .slick-next{
            margin-right: 0px;
            opacity:1;
            background: white;

        }
    }
    .slick-prev,
    .slick-next{
        
        font-size: 20px;
        width: 44px;
        height: 44px;
        line-height: 42px;
        padding-left: 2px;
        display: inline-block;
        color: #db2d2e;
        background: #ffffff;
        border: 1px solid #e3e3e3;
        font-weight: normal;
        text-align: center;
         z-index: 1;
         overflow: hidden;
         
        
        
    }
    .slick-prev{
        margin-left:25px ;
        transition: 0.8s ease;
        opacity: 0;
    }
    .slick-next{
        margin-right: 25px;
        transition: 0.8s ease;
        opacity: 0;
    }
    .hr1{
        width: 50px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;
    }
    .hr2{
        position: relative;
        width: 100px;
        top: 10px;
        margin: 0 auto;
        background: rgb(247, 32, 32);
        transition: 1s linear;

    }
    .item{

        .car-content{
            text-align: center;
            background:white;
            width: 265px;
            border-bottom: 3px solid rgb(233, 231, 231);
            padding: 20px;

            h5{
                color: rgb(233, 52, 52);
                font-size: 19px;
            }

            p{
                font-size: 17px;
                font-weight: 700;
                letter-spacing: 1px;
            }

            img{
                width: 90px;
                height: 40px;
                object-fit: cover;
                margin-left: 68px;


            }

        }
        
    
    .car-item{
        width: 265px;
          height: 190px;  
          position: relative;
          overflow: hidden;  
          cursor: pointer;

        img{
          width: 265px;
          height: 190px;  
          display: block;
        }
        .car-overlay{
            position: absolute;
            background: rgba(240, 36, 36, 0.623);
            width: 265px;
            height: 0px;
            top: 0%;
            left: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s ease-in;

            i{
                opacity: 0;
                transition: 0.8s ease-in;
                font-size: 20px;
                color: white;
                margin:5px;
            }



        }
        .car-list{
            position: absolute;
            
            width: 265px;
            height: 30px;
            margin-top: 60px;
            top: 84%;
            left: 0%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s ease-in-out ;    
            
            span{
                margin-left: 10px;
                color: gray;
            }

        }
        &:hover {
            .car-overlay{
                height: 190px;
            i{
                opacity: 1;
            }
        }
        .car-list{
            margin-top: 0px;
        }
            
            
        }

        
    }

} 
}

footer{
    background: #D7D8D8;

    .sos-icon-box1,.sos-icon-box2,.sos-icon-box3,.sos-icon-box4,.sos-icon-box5,.sos-icon-box6,.sos-icon-box7,.sos-icon-box8{
        width: 12%;
        padding: -1px 15px;
        background: #D7D8D8;
        color: rgb(85, 84, 84);
        text-align: center;
        cursor: pointer;
    }
    .sos-icon-box1{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background: #3A5897;
            color: white;
            box-shadow: 0 0 10px rgb(66, 107, 194);
        }
    }
    .sos-icon-box2{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background: rgb(42, 171, 180);
            color: white;
            box-shadow: 0 0 10px rgb(12, 206, 255);
        }
    }
    .sos-icon-box3{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background:#DD4B80;
            color: white;
        }
    }
    .sos-icon-box4{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 0px;
            font-size: 16px;
        }

        &:hover{
            background:#E13138;
            color: white;
            box-shadow: 0 0 10px #DD4B80;
        }
    }
    .sos-icon-box5{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background:#35C6EA;
            color: white;
            box-shadow: 0 0 10px rgb(24, 247, 255);
        }
    }
    .sos-icon-box6{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background:#C3222B;
            color: white;
            box-shadow: 0 0 10px rgb(245, 60, 70);
        }
    }
    .sos-icon-box7{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background:#005CFF;
            color: white;
            box-shadow: 0 0 10px rgb(31, 125, 248);
        }
    }
    .sos-icon-box8{
        border-bottom: 1px solid rgba(185, 180, 180, 0.651);
        line-height: 50px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s linear;

        i{
            margin-left: 15px;
            font-size: 16px;
        }

        &:hover{
            background:#0073B1;
            color: white;
            box-shadow: 0 0 10px rgb(11, 170, 255);
        }
    }

    #footer-main{
        font-size: 14px;
        line-height: 2em;

        i{
            color: rgba(218, 42, 42, 0.925);
        }
        span{ color: gray;
            
        }
         p{
                color: gray;
            }
        hr{
            background: red;
            width: 20px;
            height: 1px;

        }
        input{
            background: rgba(177, 169, 169, 0.438);
            border: none;
            padding: 5px 20px;
            color: gray;
        }
        button{
            padding: 5px 15px;
            background: rgb(243, 53, 53);
            color:white;
            border: none;
            border-radius: 2px;
            font-weight: 400;
            margin-top: 10px;
            transition: 0.6s linear;
            &:hover{
                background: rgb(41, 40, 40);
            }

        }

        
    }
}

#footer-main-end{
    margin-top: 50px;
    .end-end{
       
         
        hr{
            background: rgb(243, 53, 53);
            width: 25px;
            height: 1px;

        }
        p{
            font-size: 15px;
            color:gray;
            
        }
        h4{
            color:rgba(110, 107, 107, 0.829);
            text-transform: uppercase;
            font-size: 18px;
        }

        button{
            background: rgb(240, 29, 40);
            color: white;
            height: 40px;
            width: 100px;
            font-size: 12px;
            border: none;
            margin-top: 50px;
            border-radius: 3px;
            transition: 0.6s linear;
            &:hover{
                background: rgb(59, 59, 59);
                box-shadow: 0 0 10px rgba(122, 0, 0, 0.925)
            }
        }

        
    }
}

#footer-end{
    margin-top: 50px;
    background: black;
    padding: 25px 0;
    color: rgb(209, 204, 204);
}
